extends layout

mixin lorem(head)
    h3= head
    p Bienvenue dans mon travail de réfrigérateur

block content
  #banner.page-header
    br
    .row
        .col-md-6.col-sm-12
            h1= title
    .row
        .col-sm-12
            +lorem('Hello Khyati')